{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block content %}

    <div class="container" style="padding:250px 0;">
         <h1 class="text-center"> {% trans 'GİRİŞ YAP' %}</h1>
        <div class="row" >
           <form method="POST" action="" class="d-flex justify-content-center">
               {% csrf_token %}
               <div class="col-9">
                   <div class="mb-3">
  <label for="email" class="form-label"> {% trans 'E-posta' %}</label>
  <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                  </div>

                   <div class="mb-3">
  <label for="password" class="form-label"> {% trans 'Şifre' %}</label>
  <input type="password" class="form-control" id="password" placeholder="***********" name="password" required>
                  </div>
                   <button type="submit" class="btn btn-primary d-block ms-auto"> {% trans 'GİRİŞ YAP' %}</button>

               </div>
           </form>
        </div>
    </div>


{% endblock content %}