
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block content %}


    <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">{% trans 'Ürünleriniz Harika.' %}</h1>
                    <a href="{% url 'category' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">{% trans 'Ürün Alışverişi Yap' %}</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder">
                    <img src="{% static 'images/banner-image.png' %}" alt="banner">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                    <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder">
                    <img src="{% static 'images/banner-image.png' %}" alt="banner">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left">
          <use xlink:href="#chevron-left" />
        </svg>
      </div>
      <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right">
          <use xlink:href="#chevron-right" />
        </svg>
      </div>
    </section>
    <section id="company-services" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="cart-outline">
                  <use xlink:href="#cart-outline" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
                <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="quality">
                  <use xlink:href="#quality" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
                <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="price-tag">
                  <use xlink:href="#price-tag" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
                <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="shield-plus">
                  <use xlink:href="#shield-plus" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
                <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">{% trans 'Kadın Saatler' %}</h2>
            <div class="btn-right">
              <a href="{% url 'category' %}?cinsiyet=1" class="btn btn-medium btn-normal text-uppercase">{% trans 'Tüm Kadın Saatleri' %}</a>
            </div>
          </div>
         <div class="swiper product-swiper">
    <div class="swiper-wrapper">
        {% for product in products %}
        {% if product.gender.gender == "kadın" %}
        <div class="swiper-slide">
             <div class="card position-relative" style="width: 100%;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ product.brand }}</h5>
                        <p class="card-text text-dark">{{ product.model }}</p>
                        <p class="card-text text-dark">{{ product.price | intcomma }} TL</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Detaya Git</a>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                <button type="submit" class="position-absolute top-0 end-0" name="submit" value="btnfavori">
                                    <i class="
                                       {% if product.id in favori_products %}
                                          fa-solid fa-heart
                                       {% else %}
                                          fa-regular fa-heart
                                       {% endif %}
                                    "></i>
                                </button>
                                <button type="submit" class="btn btn-primary" name="submit" value="btnbasket">Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
        </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
    </section>
    <section id="smart-watches" class="product-store padding-large position-relative">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">{% trans 'Erkek Saatleri' %}</h2>
            <div class="btn-right">
              <a href="{% url 'category' %}?cinsiyet=2" class="btn btn-medium btn-normal text-uppercase">{% trans 'Tüm Erkek Saatleri' %}</a>
            </div>
          </div>
          <div class="swiper product-watch-swiper">
            <div class="swiper-wrapper">
              {% for product in products %}
        {% if product.gender.gender == "erkek" %}
             <div class="swiper-slide">
             <div class="card position-relative" style="width: 100%;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">{{ product.brand }}</h5>
                        <p class="card-text text-dark">{{ product.model }}</p>
                        <p class="card-text text-dark">{{ product.price | intcomma }} TL</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Detaya Git</a>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" name="product_id">
                                <button type="submit" class="position-absolute top-0 end-0" name="submit" value="btnfavori">
                                    <i class="
                                       {% if product.id in favori_products %}
                                          fa-solid fa-heart
                                       {% else %}
                                          fa-regular fa-heart
                                       {% endif %}
                                    "></i>
                                </button>
                                <button type="submit" class="btn btn-primary" name="submit" value="btnbasket">Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

               {% endif %}
        {% endfor %}

            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
    </section>
    <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="background-image: url({% static 'images/single-image1.png' %});background-position: right; background-repeat: no-repeat;">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-sm-12">
          <div class="text-content offset-4 padding-medium">
            <h3>10% off</h3>
            <h2 class="display-2 pb-5 text-uppercase text-dark">New year sale</h2>
            <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Sale</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">

        </div>
      </div>
    </section>
    <section id="latest-blog" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">{% trans 'Saat Tutkunlarına Özel Bilgiler' %}</h2>
            <div class="btn-right">
              <a href="https://tr.kuzminykh.org/1312-50-interesting-facts-about-watches.html" class="btn btn-medium btn-normal text-uppercase">{% trans 'Daha Fazla' %}</a>
            </div>
          </div>
          <div class="post-grid d-flex flex-wrap justify-content-between">
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <img src="{% static 'images/dalis_saati.jpg' %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">1926-</span>
                  <span class="meta-category">Dalgıç Saatleri</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Su altında çalışabilen ilk saat 1926'da Rolex tarafından üretilmiştir. Bu saatler özellikle dalgıçlar için tasarlanmıştır ve suya dayanıklı özel malzemelerden yapılır.</a>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <img src="{% static 'images/ilk_mekanik_saat.webp' %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-category">İlk Mekanik Saat</span>
                </div>
                <h3 class="card-title">
                  <a href="#">İlk mekanik saat 13. yüzyılda Avrupa’da yapılmıştır. O dönemde saatler genellikle kiliselerde bulunurdu ve halka zamanı duyurmak için çan sesi kullanılırdı.</a>
                </h3>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="card border-none me-3">
                <div class="card-image">
                  <img src="{% static 'images/en_pahalı.jpg' %}" alt="" class="img-fluid">
                </div>
              </div>
              <div class="card-body text-uppercase">
                <div class="card-meta text-muted">
                  <span class="meta-date">2019</span>
                  <span class="meta-category">-Dünyanın En Pahalı Saati</span>
                </div>
                <h3 class="card-title">
                  <a href="#">Şimdiye kadar üretilen en pahalı saat, İsviçreli lüks saat markası Patek Philippe'in "Grandmaster Chime" modeli. Bu saat 2019 yılında yapılan açık artırmada 31 milyon dolara satıldı.</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="testimonials" class="position-relative">
      <div class="container">
        <div class="row">
          <div class="review-content position-relative">
            <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
              <svg class="chevron-left">
                <use xlink:href="#chevron-left" />
              </svg>
            </div>
            <div class="swiper testimonial-swiper">
              <div class="quotation text-center">
                <svg class="quote">
                  <use xlink:href="#quote" />
                </svg>
              </div>
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center d-flex justify-content-center">
                  <div class="review-item col-md-10">
                    <i class="icon icon-review"></i>
                    <blockquote>“Saatin tiktakları, hayatın geçiciliğini hatırlatır.”</blockquote>
                    <div class="rating">
                      <svg class="star star-fill">
                        <use xlink:href="#star-fill"></use>
                      </svg>
                      <svg class="star star-fill">
                        <use xlink:href="#star-fill"></use>
                      </svg>
                      <svg class="star star-fill">
                        <use xlink:href="#star-fill"></use>
                      </svg>
                      <svg class="star star-half">
                        <use xlink:href="#star-half"></use>
                      </svg>
                      <svg class="star star-empty">
                        <use xlink:href="#star-empty"></use>
                      </svg>
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="swiper-slide text-center d-flex justify-content-center">
                  <div class="review-item col-md-10">
                    <i class="icon icon-review"></i>
                    <blockquote>“Zaman, en değerli hediyedir; onu doğru değerlendirin.”</blockquote>
                    <div class="rating">
                      <svg class="star star-fill">
                        <use xlink:href="#star-fill"></use>
                      </svg>
                      <svg class="star star-fill">
                        <use xlink:href="#star-fill"></use>
                      </svg>
                      <svg class="star star-fill">
                        <use xlink:href="#star-fill"></use>
                      </svg>
                      <svg class="star star-half">
                        <use xlink:href="#star-half"></use>
                      </svg>
                      <svg class="star star-empty">
                        <use xlink:href="#star-empty"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
              <svg class="chevron-right">
                <use xlink:href="#chevron-right" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </section>



{% endblock %}