
{% load static %}

<footer id="footer" class="overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu">
                  <img src="{% static 'images/main-logo.png' %}"  alt="logo">
                  <p>"Ministore ile stil sahibi saatler keşfedin. Şıklığı ve zarafeti bir arada sunan saatlerimize göz atın!</p>
                  <div class="social-links">
                    <ul class="d-flex list-unstyled">

                      <li>
                        <a href="https://instagram.com/aysekelleli_">
                          <svg class="instagram">
                            <use xlink:href="#instagram" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="https://x.com/AyseKelleli_">
                          <svg class="twitter">
                            <use xlink:href="#twitter" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="linkedin">
                            <use xlink:href="#linkedin" />
                          </svg>
                        </a>
                      </li>
                      <li>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 pb-3">
                <div class="footer-menu text-uppercase">
                  <h5 class="widget-title pb-2">Hızlı Erişim</h5>
                  <ul class="menu-list list-unstyled text-uppercase">
                    <li class="menu-item pb-2">
                      <a href="{% url 'index' %}">Anasayfa</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'favorite' %}">Favoriler</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'basket' %}">Sepet</a>
                    </li>
                    <li class="menu-item pb-2">
                      <a href="{% url 'profile' %}">Bilgilerim</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu text-uppercase">
                  <h5 class="widget-title pb-2">Yardım ve Bilgi Yardımı</h5>
                  <ul class="menu-list list-unstyled">
                    <li class="menu-item pb-2">
                      <a href="https://github.com/AyseKellelii">Github</a>
                    </li>

                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu contact-item">
                  <h5 class="widget-title text-uppercase pb-2"> Bizimle İletişiime Geçin</h5>
                  <p>Herhangi bir sorunuz veya öneriniz var mı? <a href="mailto:">clockinfo@gmail.com</a>
                  </p>
                  <p>Destek gerekiyorsa, bize bir telefon etmeniz yeterli. <a href="">+90 555 555 55 55 </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </footer>
    <div id="footer-bottom">
      <div class="container">


          <div class="col-md-4 col-sm-6">
            <div class="copyright">
              <p>Ayşe Kelleli <a href="https://github.com/AyseKellelii">Github</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>